# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/zillow_data.csv')

In [3]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [10]:
type(df)

pandas.core.frame.DataFrame

# Step 2: Data Preprocessing

In [14]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    return pd.to_datetime(df.iloc[7:], format='%Y-%m')

In [16]:
#df = df.apply(get_datetimes,axis=1)

In [18]:
#df.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Data columns (total 265 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   1996-04  13684 non-null  datetime64[ns]
 1   1996-05  13684 non-null  datetime64[ns]
 2   1996-06  13684 non-null  datetime64[ns]
 3   1996-07  13684 non-null  datetime64[ns]
 4   1996-08  13684 non-null  datetime64[ns]
 5   1996-09  13684 non-null  datetime64[ns]
 6   1996-10  13684 non-null  datetime64[ns]
 7   1996-11  13684 non-null  datetime64[ns]
 8   1996-12  13684 non-null  datetime64[ns]
 9   1997-01  13684 non-null  datetime64[ns]
 10  1997-02  13684 non-null  datetime64[ns]
 11  1997-03  13684 non-null  datetime64[ns]
 12  1997-04  13684 non-null  datetime64[ns]
 13  1997-05  13684 non-null  datetime64[ns]
 14  1997-06  13684 non-null  datetime64[ns]
 15  1997-07  13685 non-null  datetime64[ns]
 16  1997-08  13685 non-null  datetime64[ns]
 17  1997-09  13685 non-null  datetime64[ns]
 18  1997-10  13685 non-null  datetime64[ns]
 19  1997-11  13685 non-null  datetime64[ns]
 20  1997-12  13685 non-null  datetime64[ns]
 21  1998-01  13687 non-null  datetime64[ns]
 22  1998-02  13687 non-null  datetime64[ns]
 23  1998-03  13687 non-null  datetime64[ns]
 24  1998-04  13687 non-null  datetime64[ns]
 25  1998-05  13687 non-null  datetime64[ns]
 26  1998-06  13687 non-null  datetime64[ns]
 27  1998-07  13687 non-null  datetime64[ns]
 28  1998-08  13687 non-null  datetime64[ns]
 29  1998-09  13687 non-null  datetime64[ns]
 30  1998-10  13687 non-null  datetime64[ns]
 31  1998-11  13687 non-null  datetime64[ns]
 32  1998-12  13687 non-null  datetime64[ns]
 33  1999-01  13687 non-null  datetime64[ns]
 34  1999-02  13687 non-null  datetime64[ns]
 35  1999-03  13687 non-null  datetime64[ns]
 36  1999-04  13687 non-null  datetime64[ns]
 37  1999-05  13687 non-null  datetime64[ns]
 38  1999-06  13687 non-null  datetime64[ns]
 39  1999-07  13687 non-null  datetime64[ns]
 40  1999-08  13687 non-null  datetime64[ns]
 41  1999-09  13687 non-null  datetime64[ns]
 42  1999-10  13687 non-null  datetime64[ns]
 43  1999-11  13687 non-null  datetime64[ns]
 44  1999-12  13687 non-null  datetime64[ns]
 45  2000-01  13687 non-null  datetime64[ns]
 46  2000-02  13687 non-null  datetime64[ns]
 47  2000-03  13687 non-null  datetime64[ns]
 48  2000-04  13687 non-null  datetime64[ns]
 49  2000-05  13687 non-null  datetime64[ns]
 50  2000-06  13687 non-null  datetime64[ns]
 51  2000-07  13687 non-null  datetime64[ns]
 52  2000-08  13687 non-null  datetime64[ns]
 53  2000-09  13687 non-null  datetime64[ns]
 54  2000-10  13687 non-null  datetime64[ns]
 55  2000-11  13687 non-null  datetime64[ns]
 56  2000-12  13687 non-null  datetime64[ns]
 57  2001-01  13687 non-null  datetime64[ns]
 58  2001-02  13687 non-null  datetime64[ns]
 59  2001-03  13687 non-null  datetime64[ns]
 60  2001-04  13687 non-null  datetime64[ns]
 61  2001-05  13687 non-null  datetime64[ns]
 62  2001-06  13687 non-null  datetime64[ns]
 63  2001-07  13687 non-null  datetime64[ns]
 64  2001-08  13687 non-null  datetime64[ns]
 65  2001-09  13687 non-null  datetime64[ns]
 66  2001-10  13687 non-null  datetime64[ns]
 67  2001-11  13687 non-null  datetime64[ns]
 68  2001-12  13687 non-null  datetime64[ns]
 69  2002-01  13687 non-null  datetime64[ns]
 70  2002-02  13687 non-null  datetime64[ns]
 71  2002-03  13687 non-null  datetime64[ns]
 72  2002-04  13687 non-null  datetime64[ns]
 73  2002-05  13687 non-null  datetime64[ns]
 74  2002-06  13687 non-null  datetime64[ns]
 75  2002-07  13687 non-null  datetime64[ns]
 76  2002-08  13687 non-null  datetime64[ns]
 77  2002-09  13687 non-null  datetime64[ns]
 78  2002-10  13687 non-null  datetime64[ns]
 79  2002-11  13687 non-null  datetime64[ns]
 80  2002-12  13687 non-null  datetime64[ns]
 81  2003-01  13687 non-null  datetime64[ns]
 82  2003-02  13687 non-null  datetime64[ns]
 83  2003-03  13687 non-null  datetime64[ns]
 84  2003-04  13687 non-null  datetime64[ns]
 85  2003-05  13687 non-null  datetime64[ns]
 86  2003-06  13687 non-null  datetime64[ns]
 87  2003-07  13805 non-null  datetime64[ns]
 88  2003-08  13805 non-null  datetime64[ns]
 89  2003-09  13805 non-null  datetime64[ns]
 90  2003-10  13805 non-null  datetime64[ns]
 91  2003-11  13805 non-null  datetime64[ns]
 92  2003-12  13805 non-null  datetime64[ns]
 93  2004-01  13836 non-null  datetime64[ns]
 94  2004-02  13836 non-null  datetime64[ns]
 95  2004-03  13836 non-null  datetime64[ns]
 96  2004-04  13836 non-null  datetime64[ns]
 97  2004-05  13836 non-null  datetime64[ns]
 98  2004-06  13836 non-null  datetime64[ns]
 99  2004-07  13857 non-null  datetime64[ns]
 100 2004-08  13857 non-null  datetime64[ns]
 101 2004-09  13857 non-null  datetime64[ns]
 102 2004-10  13857 non-null  datetime64[ns]
 103 2004-11  13857 non-null  datetime64[ns]
 104 2004-12  13857 non-null  datetime64[ns]
 105 2005-01  13909 non-null  datetime64[ns]
 106 2005-02  13909 non-null  datetime64[ns]
 107 2005-03  13922 non-null  datetime64[ns]
 108 2005-04  13922 non-null  datetime64[ns]
 109 2005-05  13922 non-null  datetime64[ns]
 110 2005-06  13922 non-null  datetime64[ns]
 111 2005-07  14000 non-null  datetime64[ns]
 112 2005-08  14000 non-null  datetime64[ns]
 113 2005-09  14000 non-null  datetime64[ns]
 114 2005-10  14000 non-null  datetime64[ns]
 115 2005-11  14000 non-null  datetime64[ns]
 116 2005-12  14000 non-null  datetime64[ns]
 117 2006-01  14056 non-null  datetime64[ns]
 118 2006-02  14056 non-null  datetime64[ns]
 119 2006-03  14056 non-null  datetime64[ns]
 120 2006-04  14056 non-null  datetime64[ns]
 121 2006-05  14056 non-null  datetime64[ns]
 122 2006-06  14056 non-null  datetime64[ns]
 123 2006-07  14083 non-null  datetime64[ns]
 124 2006-08  14083 non-null  datetime64[ns]
 125 2006-09  14083 non-null  datetime64[ns]
 126 2006-10  14083 non-null  datetime64[ns]
 127 2006-11  14083 non-null  datetime64[ns]
 128 2006-12  14083 non-null  datetime64[ns]
 129 2007-01  14103 non-null  datetime64[ns]
 130 2007-02  14103 non-null  datetime64[ns]
 131 2007-03  14103 non-null  datetime64[ns]
 132 2007-04  14103 non-null  datetime64[ns]
 133 2007-05  14103 non-null  datetime64[ns]
 134 2007-06  14103 non-null  datetime64[ns]
 135 2007-07  14110 non-null  datetime64[ns]
 136 2007-08  14110 non-null  datetime64[ns]
 137 2007-09  14110 non-null  datetime64[ns]
 138 2007-10  14110 non-null  datetime64[ns]
 139 2007-11  14110 non-null  datetime64[ns]
 140 2007-12  14110 non-null  datetime64[ns]
 141 2008-01  14116 non-null  datetime64[ns]
 142 2008-02  14116 non-null  datetime64[ns]
 143 2008-03  14116 non-null  datetime64[ns]
 144 2008-04  14116 non-null  datetime64[ns]
 145 2008-05  14116 non-null  datetime64[ns]
 146 2008-06  14116 non-null  datetime64[ns]
 147 2008-07  14125 non-null  datetime64[ns]
 148 2008-08  14125 non-null  datetime64[ns]
 149 2008-09  14125 non-null  datetime64[ns]
 150 2008-10  14125 non-null  datetime64[ns]
 151 2008-11  14125 non-null  datetime64[ns]
 152 2008-12  14125 non-null  datetime64[ns]
 153 2009-01  14136 non-null  datetime64[ns]
 154 2009-02  14136 non-null  datetime64[ns]
 155 2009-03  14136 non-null  datetime64[ns]
 156 2009-04  14136 non-null  datetime64[ns]
 157 2009-05  14136 non-null  datetime64[ns]
 158 2009-06  14136 non-null  datetime64[ns]
 159 2009-07  14143 non-null  datetime64[ns]
 160 2009-08  14143 non-null  datetime64[ns]
 161 2009-09  14143 non-null  datetime64[ns]
 162 2009-10  14143 non-null  datetime64[ns]
 163 2009-11  14143 non-null  datetime64[ns]
 164 2009-12  14143 non-null  datetime64[ns]
 165 2010-01  14144 non-null  datetime64[ns]
 166 2010-02  14144 non-null  datetime64[ns]
 167 2010-03  14374 non-null  datetime64[ns]
 168 2010-04  14374 non-null  datetime64[ns]
 169 2010-05  14374 non-null  datetime64[ns]
 170 2010-06  14374 non-null  datetime64[ns]
 171 2010-07  14415 non-null  datetime64[ns]
 172 2010-08  14415 non-null  datetime64[ns]
 173 2010-09  14415 non-null  datetime64[ns]
 174 2010-10  14415 non-null  datetime64[ns]
 175 2010-11  14415 non-null  datetime64[ns]
 176 2010-12  14415 non-null  datetime64[ns]
 177 2011-01  14448 non-null  datetime64[ns]
 178 2011-02  14448 non-null  datetime64[ns]
 179 2011-03  14448 non-null  datetime64[ns]
 180 2011-04  14448 non-null  datetime64[ns]
 181 2011-05  14448 non-null  datetime64[ns]
 182 2011-06  14448 non-null  datetime64[ns]
 183 2011-07  14472 non-null  datetime64[ns]
 184 2011-08  14472 non-null  datetime64[ns]
 185 2011-09  14472 non-null  datetime64[ns]
 186 2011-10  14472 non-null  datetime64[ns]
 187 2011-11  14472 non-null  datetime64[ns]
 188 2011-12  14472 non-null  datetime64[ns]
 189 2012-01  14499 non-null  datetime64[ns]
 190 2012-02  14499 non-null  datetime64[ns]
 191 2012-03  14499 non-null  datetime64[ns]
 192 2012-04  14499 non-null  datetime64[ns]
 193 2012-05  14499 non-null  datetime64[ns]
 194 2012-06  14499 non-null  datetime64[ns]
 195 2012-07  14517 non-null  datetime64[ns]
 196 2012-08  14517 non-null  datetime64[ns]
 197 2012-09  14517 non-null  datetime64[ns]
 198 2012-10  14517 non-null  datetime64[ns]
 199 2012-11  14517 non-null  datetime64[ns]
 200 2012-12  14517 non-null  datetime64[ns]
 201 2013-01  14572 non-null  datetime64[ns]
 202 2013-02  14572 non-null  datetime64[ns]
 203 2013-03  14572 non-null  datetime64[ns]
 204 2013-04  14572 non-null  datetime64[ns]
 205 2013-05  14572 non-null  datetime64[ns]
 206 2013-06  14572 non-null  datetime64[ns]
 207 2013-07  14614 non-null  datetime64[ns]
 208 2013-08  14614 non-null  datetime64[ns]
 209 2013-09  14614 non-null  datetime64[ns]
 210 2013-10  14614 non-null  datetime64[ns]
 211 2013-11  14614 non-null  datetime64[ns]
 212 2013-12  14614 non-null  datetime64[ns]
 213 2014-01  14667 non-null  datetime64[ns]
 214 2014-02  14667 non-null  datetime64[ns]
 215 2014-03  14667 non-null  datetime64[ns]
 216 2014-04  14667 non-null  datetime64[ns]
 217 2014-05  14667 non-null  datetime64[ns]
 218 2014-06  14667 non-null  datetime64[ns]
 219 2014-07  14723 non-null  datetime64[ns]
 220 2014-08  14723 non-null  datetime64[ns]
 221 2014-09  14723 non-null  datetime64[ns]
 222 2014-10  14723 non-null  datetime64[ns]
 223 2014-11  14723 non-null  datetime64[ns]
 224 2014-12  14723 non-null  datetime64[ns]
 225 2015-01  14723 non-null  datetime64[ns]
 226 2015-02  14723 non-null  datetime64[ns]
 227 2015-03  14723 non-null  datetime64[ns]
 228 2015-04  14723 non-null  datetime64[ns]
 229 2015-05  14723 non-null  datetime64[ns]
 230 2015-06  14723 non-null  datetime64[ns]
 231 2015-07  14723 non-null  datetime64[ns]
 232 2015-08  14723 non-null  datetime64[ns]
 233 2015-09  14723 non-null  datetime64[ns]
 234 2015-10  14723 non-null  datetime64[ns]
 235 2015-11  14723 non-null  datetime64[ns]
 236 2015-12  14723 non-null  datetime64[ns]
 237 2016-01  14723 non-null  datetime64[ns]
 238 2016-02  14723 non-null  datetime64[ns]
 239 2016-03  14723 non-null  datetime64[ns]
 240 2016-04  14723 non-null  datetime64[ns]
 241 2016-05  14723 non-null  datetime64[ns]
 242 2016-06  14723 non-null  datetime64[ns]
 243 2016-07  14723 non-null  datetime64[ns]
 244 2016-08  14723 non-null  datetime64[ns]
 245 2016-09  14723 non-null  datetime64[ns]
 246 2016-10  14723 non-null  datetime64[ns]
 247 2016-11  14723 non-null  datetime64[ns]
 248 2016-12  14723 non-null  datetime64[ns]
 249 2017-01  14723 non-null  datetime64[ns]
 250 2017-02  14723 non-null  datetime64[ns]
 251 2017-03  14723 non-null  datetime64[ns]
 252 2017-04  14723 non-null  datetime64[ns]
 253 2017-05  14723 non-null  datetime64[ns]
 254 2017-06  14723 non-null  datetime64[ns]
 255 2017-07  14723 non-null  datetime64[ns]
 256 2017-08  14723 non-null  datetime64[ns]
 257 2017-09  14723 non-null  datetime64[ns]
 258 2017-10  14723 non-null  datetime64[ns]
 259 2017-11  14723 non-null  datetime64[ns]
 260 2017-12  14723 non-null  datetime64[ns]
 261 2018-01  14723 non-null  datetime64[ns]
 262 2018-02  14723 non-null  datetime64[ns]
 263 2018-03  14723 non-null  datetime64[ns]
 264 2018-04  14723 non-null  datetime64[ns]
dtypes: datetime64[ns](265)
memory usage: 29.8 MB

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [7]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

In [9]:
df = df.apply(melt_data,axis=0)

AttributeError: 'Series' object has no attribute 'columns'

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results